h2 {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}

header {
    background: #424249;
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
    padding: 0 40px;
    color: #FFFDFC;
    font-family: 'Roboto', georgia;
}

#title, #total {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 4rem;
    font-family: 'Righteous', cursive;
    padding: 30px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 10vh;
}

section {
    width: 42vw;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

span{
    font-size: 1.25rem;
    font-family: 'Roboto', georgia;
}

.button {
    background: #424249;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFDFC;
}

input {
    font-size: 1.5rem;
    width: 100%;
    margin: 0 0 0 7px;
}

#name , #amount {
    display: flex;
    align-items: center;
}

#monthly {
    background: #EFE8E1;
}

#addBill {
    background: #54D2E5;
}